* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.main {
    position: relative;
}

.main::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;    
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    background: url("./Images/Office Workers(1).jpg") no-repeat;
    background-position: 50% 0;
    background-size: cover;

}

.login {
    position: relative;
    padding: 5rem 3rem;
    color: #033601;
}

.login-title {
    font-size: 4rem;
    font-weight: 300;
    border-bottom: 4px solid #033601;
    width: fit-content;
}

.login label {
    font-size: 1.5rem;
}

.login input {
    font-size: 1rem;
}

.login-submit {
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    background-color: #157512;
    color: #fff;
    border: none;
    padding: .5rem 1.5rem;
    border-radius: 10px;
}

.login-submit:hover,
.login-submit:focus {
    cursor: pointer;
    background-color: #033601;
}

.login-help {
    font-size: 1rem;
    text-decoration: none;
    color: #8a4900;
}

.login-help:hover,
.login-help:focus {
    color: #b37733;
}

.customer-service-banner {
    background-color: #033601;
    color: #fff;
    padding: 1.25rem;
    text-align: center;
}

.banner-title {
    font-weight: 200;
}

.banner-info {
    line-height: 1.7;
}

.banner-icons {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0;
}

.banner-icon-columns {
    width: 25%;
}

.banner-icon-columns a {
    text-decoration: none;
    color: #fff;
}

.banner-icon-columns a:hover,
.banner-icon-columns a:focus {
    text-decoration: underline;
}

.banner-icon-image {
    width: 50px;
    height: 50px;
}

.footer {
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
}

.footer-columns {
    width: 40%;
}

.difelity-copyright {
    display: flex;
}

.difelity-logo {
    width: 100px;
}

